<?xml version="1.0" encoding="UTF-8" ?>

<system>
    <components>
        <keypad>
            <pins>
                <pin id="L1" gpio="40" io="out" state="LOW" />
                <pin id="L2" gpio="38" io="out" state="LOW" />
                <pin id="L3" gpio="36" io="out" state="LOW" />
                <pin id="L4" gpio="32" io="out" state="LOW" />
                <pin id="R1" gpio="37" io="in" pud="up" trigger="FALLING" bouncetime="20" />
                <pin id="R2" gpio="35" io="in" pud="up" trigger="FALLING" bouncetime="20" />
                <pin id="R3" gpio="33" io="in" pud="up" trigger="FALLING" bouncetime="20" />
                <pin id="R4" gpio="31" io="in" pud="up" trigger="FALLING" bouncetime="20" />
            </pins>
        </keypad>
        <rfid-reader>
            <pins>
                22 19 21 23 24
            </pins>
        </rfid-reader>
        <door-magnet>
            <pins>
                <pin id="Trigger" gpio="3" io="in" trigger="RISING" />
            </pins>
	    <extra>
		<alarm-type value="trigger" />
            </extra>
        </door-magnet>
        <door-magnet>
            <pins>
                <pin id="Trigger" gpio="5" io="in" trigger="RISING" />
            </pins>
	    <extra>
		<alarm-type value="trigger" />
            </extra>
        </door-magnet>
        <speaker name="SPK">
            <pins>
                <pin id="Enable" gpio="11" io="out" />
            </pins>
        </speaker>
	<light name="LED0">
            <pins>
                <pin id="Enable" gpio="29" io="out" />
            </pins>
        </light>
	<light name="LED1">
            <pins>
                <pin id="Enable" gpio="15" io="out" />
            </pins>
        </light>
        <motion-sensor>
            <pins>
                <pin id="" gpio="7" io="in"/>
            </pins>
	    <extra>
		<alarm-type value="trigger" />
            </extra>
        </motion-sensor>
	<sound-sensor>
		<pins>
			<pin id="" gpio="13" io="in"/>
		</pins>
	    <extra>
		<alarm-type value="trigger" />
            </extra>
	</sound-sensor>
    </components>

    <server>
        <port>2000</port>
    </server>
</system>